*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6fb;
}


label{
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 16px;
    color:#444;
}

button{
    margin-top: 50px;
    font-size: 16px;
    padding:12px;
    border-radius: 6px;
    background-color: black     ;
    color:white;
    /* width: 100px; */
}

button:hover {
  background-color: #4338ca;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;

}

.buttons button{
    padding: 11px 20px;
    font-size: 16px;
    /* min-width: 97px; */
    width: 200px;
}

.container{
    display: flex;
    flex-direction: column;
    gap:20px;
    height: 70vh;
    width:45%;
    background: #ffffff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.container h2{
    text-align: center;
    font-size:40;

}

.enter-button{
    width: 200px;
    margin: 20px auto;
}

.object-box {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #fff;
  /* border: 2px solid black; */
  /* width: ; */

}

.object-box .label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.output {
  padding: 8px;
  background-color: #e2dfdf;
  border-radius: 4px;
  color: #222;
  height: 150px;
  width: 600px;
  /* border: 5px solid ; */
  border-left: 5px solid;
  font-size: 20px;
}

h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}