.container {
  padding: 40px 20px;
  min-height: 80vh;
  background-color: #eef2f7;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(80, 75, 75);
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  margin: 0 auto;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}