
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

header {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

nav .logo {
    float: left;
    font-size: 18px;
}


header .logo {
    float:left;
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin-right: 15px;
}

nav ul {
    float: left;
    margin-left: 20px;
    list-style: none;
}

nav ul li , nav .logo{
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li a.active {
    color: #e85c4a;
    font-weight: bold;
}

nav form {
    float: right;
}

nav input[type="search"] {
    padding: 4px 8px;
    border: 1px solid #aaa;
}


.clear,
nav::after {
    content: "";
    display: block;
    clear: both;
}


#banner {
    border: 1px solid #ddd;
    margin-top: 50px;
    margin: 20px;
    padding: 20px;
    animation: fadein 1s ease forwards;
}

#banner article {
    margin-top: 50px;
    float: left;
    width: 50%;
}
#banner article p{
    margin-top:50px;
}

#banner figure {
    float: right;
    width: 40%;
}

#banner img {
    width: 100%;
}

#banner button {
    margin-top: 100px;
    padding: 8px 14px;
    background: #e85c4a;
    border: none;
    color: #fff;
    border-radius:8px;
}

#banner button:hover {
    background: #c6493b;
}

#cards {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.card {
    display: inline-block;
    width: 30%;
    margin: 10px;
    vertical-align: top;
}


.card img {
    width: 100%;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 6px;
}

.card a {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    color: #e85c4a;
}

.card a:hover {
    text-decoration: underline;
}



footer {
    border-top: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    clear: both; 
}

.footer-logo {
    float: left;
    width: 50px;
    height: auto;
    margin-left: 20px;
}


.footer-links {
    display: inline-block;
    margin-top: 5px;
}

.footer-links a {
    margin: 0 25px;
    text-decoration: none;
    color: #000;
}

.footer-links a:hover {
    color: #e85c4a;
}

.footer-icons {
    float: right;
    margin-right: 20px;
}

.footer-icons img {
    width: 22px;
    height: 22px;
    margin-left: 12px;
}

.footer-bottom {
    clear: both;
    margin-top: 15px;
    font-size: 13px;
    color: #e85c4a;
}

.footer-bottom a {
    color: #e85c4a;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}


    